<a href="https://colab.research.google.com/github/azizahannurohmah/Latihan/blob/main/Latihan_GitHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/azizahannurohmah/Latihan/main/Latihan%20GitHub/pokemon2.csv?token=GHSAT0AAAAAABZAW7E6VAAHKEDJSVYHQPZYYZKUTJA'
df = pd.read_csv(url, delimiter=';')

In [ ]:
df

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,defense,height_m,hp,sp_attack,sp_defense,speed,type1,weight_kg,generation,is_legendary
0,1,1,1,5,1,5,2,1,1,5,...,50,1.0,50,57,50,65,bug,6.0,5,0
1,2,1,1,5,1,5,4,4,1,25,...,95,5.0,60,69,95,36,bug,65.0,4,0
2,5,1,5,1,5,1,4,1,1,25,...,140,12.0,75,60,60,40,bug,1258.0,2,0
3,1,1,1,1,1,5,2,2,1,5,...,45,2.0,40,29,45,36,bug,34.0,4,0
4,1,1,1,1,1,5,2,2,1,5,...,90,6.0,50,35,35,15,bug,72.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,2,1,1,1,1,1,1,2,1,1,...,30,5.0,40,40,50,30,water,26.0,3,0
797,1,1,1,0,1,1,5,1,1,4,...,73,9.0,110,76,71,60,water,236.0,3,0
798,1,1,1,0,1,1,5,1,1,4,...,43,4.0,50,46,41,60,water,19.0,3,0
799,5,1,1,4,1,5,5,1,1,1,...,63,13.0,75,87,63,98,water,242.0,5,0
800,1,1,1,2,1,1,5,1,1,2,...,56,4.0,49,49,61,66,water,70.0,4,0